fastapi
uvicorn[standard]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
langchain<0.4
langchain-google-genai
langchain-community
faiss-cpu
pdfplumber
pypdf
google-generativeai
numpy
